{% extends 'koolack_unscaled/base.html' %}

{% block title_prepend %}Acks - {% endblock title_prepend %}
{% block page_title %}the following users Acked this Kool:{% endblock page_title %}

{% block content %}
<div id="acker-list">
    {% for acker_profile in page_obj %}
        <div class="acker-link"><a href="{% url 'koolack_unscaled:user' acker_profile.user.username %}">{{ acker_profile.user.username }}</a></div>
    {% endfor %}
</div>

{% include 'koolack_unscaled/pagination.html' %}

{% endblock content %}
