<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title%}Koolack Unscaled</title>
</head>

<h1>Koolack Unscaled</h1>

{% if auth_user.is_authenticated %}

    <p>logged in as {{ auth_user.username }} (<a href="{% url 'koolack_unscaled:logout' %}">logout</a>)</p>

{% else %}

    <p><a href="{% url 'koolack_unscaled:register' %}">register</a></li> or <a href="{% url 'koolack_unscaled:login' %}">login</a></p>

{% endif %}

<hr>

<body>
{% block content %}{% endblock content%}
</body>

<footer>
    <a href="notyet">about Koolack</a>
    <a href="notyet">privacy policy</a>
    <a href="notyet">contact developers</a>
    <a href="https://www3.nd.edu/~dthain/courses/cse40822/spring2016/">CSE40175 at Notre Dame</a>
    <a href="notyet">about Koolack</a>
    <a href="notyet">about Koolack</a>
</footer>

</html>
