<table>
    <tr>
        <td>{{ kool.author.first_name }} {{kool.author.last_name}} (<a href="{% url 'koolack_unscaled:user' kool.author.username %}">@{{ kool.author.username }})</a></td>
        <td>{{ kool.creation_date|timesince }} ago</td>
        {% if follow_button %}
            <td>
                <form method="post" action="{% url 'koolack_unscaled:follow' kool.author.username %}">
                    {% csrf_token %}
                    <input type="submit" value="follow">
                </form>
            </td>
        {% endif %}
        {% if unfollow_button %}
            <td>
                <form method="post" action="{% url 'koolack_unscaled:unfollow' kool.author.username %}">
                    {% csrf_token %}
                    <input type="submit" value="unfollow">
                </form>
            </td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ kool.content }}</td>
    </tr>   
</table>
