{% extends 'koolack_unscaled/base.html' %}

{% block title_prepend %}timeline - {% endblock title_prepend %}
{% block page_title %}Timeline{% endblock page_title %}

{% block content %}

{% include 'koolack_unscaled/kool_form.html' %}

{% with unfollow_button=True %}
    <div id="kool-list">
        {% for kool in page_obj %}
            {% include 'koolack_unscaled/kool.html' %}    
        {% endfor %}
    </div>
{% endwith %}

{% include 'koolack_unscaled/pagination.html' %}
{% endblock content %}
