{% extends 'koolack_unscaled/base.html' %}

{% block titleprepend %}timeline - {% endblock titleprepend %}

{% block content %}
{% include 'koolack_unscaled/kool_form.html' %}

{% with unfollow_button=True %}
{% for kool in page_obj %}
    {% include 'koolack_unscaled/kool.html' %}    
{% endfor %}
{% endwith %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">page {{ page_obj.number }} of {{ paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
