{% extends 'koolack_unscaled/base.html' %}

{% block titleprepend %}{{ page_user.username }} - {% endblock titleprepend %}

{% block content %}
<h2>{{ page_user.first_name }} {{ page_user.last_name }} (@{{ page_user.username }})</h2>

<table>
    <tr>
        <td>follows:</td>
        <td>followed by:</td>
    </tr>
    <tr>
        <td>
            <ul>
                {% for follows_prof in page_user.profile.follows.all|slice:":8"  %}
                    <li><a href="{% url 'koolack_unscaled:user' follows_prof.user.username %}">{{ follows_prof.user.username }}</a></li>
                {% endfor %}
                {% if page_user.profile.follows.all.8 %}
                    <p>{{ page_user.profile.follows.count|add:"-8" }} more</p>
                {% endif %}
            <ul>
        </td>
        <td>
            <ul>
                {% for followed_by_prof in page_user.profile.followed_by.all|slice:":8" %}
                    <li><a href="{% url 'koolack_unscaled:user' followed_by_prof.user.username %}">{{ followed_by_prof.user.username }}</a></li>
                {% endfor %}
                {% if page_user.profile.followed_by.all.8 %}
                    <p>{{ page_user.profile.followed_by.count|add:"-8" }} more</p>
                {% endif %}
            </ul>
        <td>
    <tr>
</table>

{% for kool in page_obj %}
    {% include 'koolack_unscaled/kool.html' %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">page {{ page_obj.number }} of {{ paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
