{% extends 'koolack_unscaled/base.html' %}
{% block title %}{{page_user.username}} - {% endblock title %}

{% block content %}
<h1>{{ page_user.username }}</h1>
<p>{{ page_user.first_name }} {{ page_user.last_name }} if you wanna be formal</p>
<p>{{ page_user.email }}</p>

<h3>this user follows:</h3>
<ul>

{% for follows_prof in page_user.profile.follows.all %}

    <li><a href="{% url 'koolack_unscaled:user' follows_prof.user.username %}">{{ follows_prof.user.username }}</a></li>

{% endfor %}

</ul>

<h3>this user is followed by:</h3>
<ul>

{% for followed_by_prof in page_user.profile.followed_by.all %}

    <li><a href="{% url 'koolack_unscaled:user' followed_by_prof.user.username %}">{{ followed_by_prof.user.username }}</a></li>

{% endfor %}

</ul>

{% include 'koolack_unscaled/kool_list.html' %}

{% endblock content %}
